////////////////////////
// Islandora Styling
////////////////////////

// Simple Search //
#islandora-solr-simple-search-form {
	input.form-submit {
		background: url(../images/barnard/search_btn.png) no-repeat;
		border: 0 none;
		text-indent: -9999px;
		height: 26px;
		width: 26px;
		float: right;
		margin-top: -27px;
		margin-right: 3px;
		opacity: 0.5;
		transition: all 0.3s ease 0s;
	}
	input.form-submit:hover {
		opacity: 1;
	}
	input.form-text {
		width: 100%;
	}
}

// Not Front Simple Search //

.not-front #block-islandora-solr-simple {
	float: right;
}

// Frontpage Panel

.frontpage-panel {
	background: #99ccff;
	width: 500px;
	padding: 10px 15px;
	border-radius: 10px;
	opacity: 0.9;
	position: relative;
	top: 5em; left: 5em;
	ul.links li {
		display: inline;
		margin: 0 0.5em;
	}
	p {
		text-align: center;
	}
}

// Frontpage Featured

#block-views-featured-block {
	background: white;
	width: 300px;
	float: right;
	padding: 10px 15px;
	position: relative;
	top: -65px; right: 45px;
	border-radius: 10px;
	opacity: 0.8;
	font-size: 80%;
}

// Sort and Display Switch

#block-islandora-solr-sort, #block-islandora-solr-current-query {
  height: 2em;
  margin: 0;
  h2 {
  	color: #767777;
	float: left;
	font-size: 135%;
	line-height: 1.3em;
	margin-right: 0.25em;
  }
  ul {
  	list-style: none outside none;
	margin-bottom: 0;
	li {
		display: inline;
		padding: 0 0.25em;
		a.active {
			text-decoration: underline;
		}
	}
  }
}

#block-islandora-solr-display-switch {
  float: right;
  position: relative;
  top: -46px;
  li {
  	float: left;
  	list-style: none;
  	a {
  		display: inline-block;
		padding: 0 2px;
  	}
  }
}


// Sidebar Stuff

.sidebars {
	h2, h3 {
		font-size: 95%;
	}
	h3 {
		font-weight: normal;
	}
	ul {
		padding: 0 0 0 1em;
	}
}

#block-islandora-solr-advanced, #block-islandora-solr-basic-facets, #block-menu-menu-collections {
	background: #99CCFF;
	border-radius: 7px;
	padding: 10px;
}

// Advanced Search //
#block-islandora-solr-advanced {
	.form-item {
		margin: 0;
	}
}
